$primary-background-color: #000;

@import "node_modules/bootstrap/scss/bootstrap";

//HTML Tags
html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: $primary-background-color;
  color: white;
}

footer{
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
}

a, a:link, a:visited {
  color:white;
  text-decoration: none;
}
a:hover{
  color: #00ffab;
}
//ID's


#MainNavBar{
  @extend .navbar-dark;
  background-color: #13151a;
  color: white;
  position: fixed;
  width: 100vw;

}

//Classes
.borderTest{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.CenterObjBase{
  @extend .borderTest;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.CenteredJumbo{
  @extend .jumbotron;
  @extend .CenterObjBase;
  background-color: transparent;

}

.CenteredParagraph{
  @extend .CenterObjBase;
  background: rgba(0,0,0,.7);

}








